if [ -d .venv ]; then
  source .venv/bin/activate
fi

export PYTHONUNBUFFERED=1
export STOCKFISH_PATH="/usr/games/stockfish"
export PUNISHER_WHITE_URL="${PUNISHER_WHITE_URL:-}"
export PUNISHER_BLACK_URL="${PUNISHER_BLACK_URL:-}"
export PUNISHER_DRY_RUN="${PUNISHER_DRY_RUN:-1}"
export GAME_LOG_PATH="${GAME_LOG_PATH:-./.local/game.log}"

export PUNISHER_WHITE_URL="http://192.168.1.114/punish"
